.App {
  text-align: center;
  margin-top: 10vh;
}

h2 {
  font-size: 5rem;
  color: #62929E;
}

p {
  font-size: 3rem;
  font-weight: 600;
  padding: 2vh 0;
  color: #FDFDFF;
}

a {
  font-size: 3rem;
  text-decoration: none;
  background-color: #62929E;
  color: #FDFDFF;
  font-weight: 600;
  padding: 1vh 6vw;
  border-radius: 10px;

  &:hover {
    background-color: #393D3F;
  }
}